  <p>
	<ul>
	 {{#each clinics}}
        <li>
            <div>
                Clinic: {{name}}</li>
            </div>
            <div>
                Location: {{location}}
            </div>
            <div>
                Price: {{price}}  
            </div>
            <div>
                Phone: {{phoneNumber}}
            </div>
        </li>
	{{/each}}
	</ul>
  </p>

